body {
    font-family: DynaPuff;
}

.navbar{
    background-color: #AAAAAA;
}

header {
    height: 22rem;  
}

#header-img {
    position: absolute;
    height: 22rem;
    width: 100%;
    opacity: 0.5;
    filter: invert(95%) sepia(71%) saturate(359%) hue-rotate(290deg) brightness(97%) contrast(110%);
}

#header-content {
    position: relative;
}

.text-header {
    font-size: 3rem;
    color: rgb(32, 32, 32);
    text-shadow: 0.2rem 0.2rem #AAAAAA;
}

main {
    background-color: white;
}

.items {
    border-top: solid 0.3rem;
    border-top-style: dotted;
    border-top-color: #7F7C82;
    width: 90%;
}

.card {
    border-color: #FFC7C7;
}

.card-text {
    text-align: justify;
}

h1, h5{
    color: #7F7C82;
    text-shadow: 0.2rem 0.2rem #FFC7C7;
}

.btn {
    background-color: #FFC7C7;
    color: black;
}

#carousel-competencies {
    height: 15rem;
}

#card-contact {
    background-color: #FFE2E2;
}

footer {
    background-color: #FFC7C7;
}

a {
    color: #7F7C82;
    text-decoration: none;
    transition: transform .2s;
}

a:hover {
    color: black;  
}

.enlace:hover {
    color: black;
    transform: scale(1.2);
}

#email {
    font-size: small;
    color: #7F7C82;
}

i {
    color: #7F7C82;
}

